<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/products/">Product list</a></li>
            <li><a href="/blog/">Article list</a></li><br>
            {% if not request.user.is_authenticated %}
            <li><a href="/login/">Login</a></li>
            {% else %}
            <li><a href="/logout/">Logout</a></li>
            {% endif %}
            <li><a href="/register/">Register</a></li>
        </ul>
    </nav>
    <h4><a href="/products/create">Create a product</a></h4>
    <h4><a href="/blog/create">Create a article</a></h4>
    <form action='/products/search/'>
        <p>Search PRODUCT by ID only </p>
        <input type='text' name='query'/>
        <input type='submit'/>
    </form><br>
    {% block content %}replace me{% endblock content %}
</body>

</html>